<div class="book-navigation row">
  <div class="col-5">
    {% if navigation_links.prev %}
      <a href="{{ navigation_links.prev.url }}" class="btn btn-dark w-100" title="{{ navigation_links.prev.title }}">Previous page</a>
    {% endif %}
  </div>
  <div class="col-2">
    {% if navigation_links.top %}
      <a href="{{ navigation_links.top.url }}" class="btn btn-dark w-100" title="{{ navigation_links.top.title }}">&#8593;</a>
    {% endif %}
  </div>
  <div class="col-5 text-end">
    {% if navigation_links.next %}
      <a href="{{ navigation_links.next.url }}" class="btn btn-dark w-100" title="{{ navigation_links.next.title }}">Next page</a>
    {% endif %}
  </div>
</div>
